# **Tugas 1**


Mengukur jarak (dissimilarity)
1.   Mengambil data dari Kaggle atau Github
2.   Ukur Jarak d(1,2), d(1,3), d(1,4) dari data tersebut

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/datamining

/content/drive/MyDrive/datamining

In [13]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
plt.ion()

In [8]:
dataset = pd.read_csv('/content/drive/MyDrive/datamining/StudentsPerformance.csv')
dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [9]:
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
def jarakData(i, j):
  P = 3
  M = 0
  for data in ['race/ethnicity', 'parental level of education', 'lunch' ]:
    if dataset[data][i] == dataset[data][j]:
      M = M + 1
  return (P-M)/P

In [12]:
print(jarakData(0,1))
print(jarakData(0,2))
print(jarakData(0,3))

0.6666666666666666
0.3333333333333333
1.0

# Attribute Numerik

In [20]:
def jarakData2(i, j, h):
  temp = 0
  for dataColomn in ['math score', 'reading score', 'writing score']:
    result = math.pow(abs((dataset[dataColomn][i]) - (dataset[dataColomn][j])), h)
  return result**(1/h)

In [21]:
print(jarakData2(0,1,1))
print(jarakData2(0,2,1))
print(jarakData2(0,3,1))

14.0
19.0
30.0

In [23]:
print(jarakData2(0,1,3))
print(jarakData2(0,2,3))
print(jarakData2(0,3,3))

13.999999999999998
18.999999999999996
29.999999999999993

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)